@using DAL.Models;
@using CalculosMVC.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model InformationViewModel
@{
    ViewData["Title"] = "Consultar Información";
}
<div>
    <h2>Consultar Información</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-asp-controller="Calculo" asp-action="GetRegistros" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Filtro.Usuario" class="control-label">Usuario:</label>
                    <input type="text" maxlength="100" asp-for="Filtro.Usuario" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Filtro.RespuestaMax" class="control-label">Respuesta máxima:</label>
                    <input type="number" min="0" max="9999999999" maxlength="10" asp-for="Filtro.RespuestaMax" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Filtro.RespuestaMin" class="control-label">Respuesta mínima:</label>
                    <input type="number" min="0" max="9999999999" maxlength="10" asp-for="Filtro.RespuestaMin" class="form-control" />
                </div>
                <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    @if(ViewData["Message"] != null)
    {
        <span class="text-danger">@ViewData["Message"]</span>
        <br />
    }
    @if (TempData["Error"] != null)
    {
        <span class="text-danger">@TempData["Error"]</span>
        <br />
    }
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Respuesta</th>
                    <th>Fecha y Hora</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var calculo in Model.Calculos)
                {
                    <tr>
                        <td>@calculo.Usuario</td>
                        <td>@calculo.Respuesta</td>
                        <td>@calculo.Fecha</td>
                        <td><a href="@Url.Action("Delete","Calculo", new {id = calculo.Id})" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
